
.chat-wrapper {
	width: 35%;
	display: inline-block;
	background-color: rgb(242,242,242);
}

.chat-wrapper .chat {
	max-height: 317px;
	overflow : auto;
}

.chat-wrapper button {
	margin: 0;
}

.hour {
	color: rgb(164,164,164);
	font-size: 0.9em;
}

.tchatArea input {
	display: inline-block;
	width: 80%;
	background-colorr: #000000;
	border:none;
}

#tchatForm button { flex-shrink: 3; margin-bottom:0;}

#tchatForm input { margin-bottom: 0;}

.msg {
	margin: 10px;
	position: relative;
	border-bottom: 1px solid rgb(240,240,240);
}

.msg .hour {
	position: absolute;
	right: 0;
	display:inline-block;
}

@media screen and (max-width: 640px) {
	.chat-wrapper{width:100%;}
}
