#footer {
	background-color: white;
	margin-top: 60px;
	margin-bottom: 45px;
	overflow: hidden;
}

#footer h6, #footer a, #footer li {
	text-align: right;
}

#footer a {
	opacity: 0.8;
	color: #05b2b5;
}

#footer a:hover {
	opacity: 1;
}

#footer #logo {
	margin-top: 0;
}
@media screen and (max-width:640px){
	#mobile {
		margin-right: 6px;
	}
}